{{> head}}
{{> navbar}}
<div class="row">
    <div class="col">
        <h2>Titulo</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia dicta repellendus quibusdam fugiat rerum consequuntur, soluta commodi, necessitatibus saepe perferendis, nam laborum nihil impedit! Beatae architecto molestiae pariatur sapiente adipisci!</p>
    </div>
    <div class="col">
        <img src="assets/img/brainscream.png" class="img-thumbnail" alt="brainscream">
    </div>
</div>

{{> footer}}